In [1]:
import pandas as pd 
import time
import random
import os
from utils import get_data,data_processing
from datetime import datetime
import uuid

/home/brocoleta/.local/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [22]:
url = ['https://www.espn.com.co/futbol/posiciones/_/liga/chi.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/esp.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/eng.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ita.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ger.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/fra.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/por.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ned.1']
ligas = ['CHILE','ESPAÑA','INGLATERRA','ITALIA','GERMANY','FRANCIA','PORTUGAL','HOLANDA']

df_ligas = {
    'LIGA':ligas,
    'URL':url
} 

df_ligas = pd.DataFrame(df_ligas)
df_ligas

         LIGA                                                URL
0       CHILE  https://www.espn.com.co/futbol/posiciones/_/li...
1      ESPAÑA  https://www.espn.com.co/futbol/posiciones/_/li...
2  INGLATERRA  https://www.espn.com.co/futbol/posiciones/_/li...
3      ITALIA  https://www.espn.com.co/futbol/posiciones/_/li...
4     GERMANY  https://www.espn.com.co/futbol/posiciones/_/li...
5     FRANCIA  https://www.espn.com.co/futbol/posiciones/_/li...
6    PORTUGAL  https://www.espn.com.co/futbol/posiciones/_/li...
7     HOLANDA  https://www.espn.com.co/futbol/posiciones/_/li...

In [33]:
df = pd.read_html(df_ligas['URL'][0])

In [12]:
df[0]

                             Grupo 1
0                       1COBCobresal
1                     2HUAHuachipato
2                 3UNIUnión Española
3                      4COLColo Colo
4   5U. de ChileUniversidad de Chile
5                 6COQCoquimbo Unido
6                     7EVEEverton CD
7          8CDUCUniversidad Católica
8                     9PALEPalestino
9               10ULCUnión La Calera
10                     11ÑUBÑublense
11               12AUDAudax Italiano
12                    13OHIO'Higgins
13                 14UNICuricó Unido
14                      15COPCopiapó
15                   16MAGMagallanes

In [13]:
df[1]

     J   G  E   P  GF  GC  DIF  PTS
0   19  10  6   3  35  17   18   36
1   19  10  2   7  28  21    7   32
2   19   8  6   5  25  14   11   30
3   18   8  6   4  25  19    6   30
4   18   8  5   5  20  18    2   29
5   18   9  2   7  23  22    1   29
6   18   8  4   6  26  25    1   28
7   19   7  6   6  32  27    5   27
8   18   7  5   6  26  28   -2   26
9   18   5  9   4  23  23    0   24
10  19   6  5   8  20  26   -6   23
11  19   6  4   9  25  28   -3   22
12  19   5  5   9  20  24   -4   20
13  18   6  1  11  20  30  -10   19
14  17   4  4   9  14  29  -15   16
15  18   3  4  11  18  29  -11   13

In [34]:
df=pd.concat([df[0],df[1]],ignore_index=True,axis=1)
df

                                   0   1   2  3   4   5   6   7   8
0                       1COBCobresal  19  10  6   3  35  17  18  36
1                     2HUAHuachipato  19  10  2   7  28  21   7  32
2                 3UNIUnión Española  19   8  6   5  25  14  11  30
3                      4COLColo Colo  18   8  6   4  25  19   6  30
4   5U. de ChileUniversidad de Chile  18   8  5   5  20  18   2  29
5                 6COQCoquimbo Unido  18   9  2   7  23  22   1  29
6                     7EVEEverton CD  18   8  4   6  26  25   1  28
7          8CDUCUniversidad Católica  19   7  6   6  32  27   5  27
8                     9PALEPalestino  18   7  5   6  26  28  -2  26
9               10ULCUnión La Calera  18   5  9   4  23  23   0  24
10                     11ÑUBÑublense  19   6  5   8  20  26  -6  23
11               12AUDAudax Italiano  19   6  4   9  25  28  -3  22
12                    13OHIO'Higgins  19   5  5   9  20  24  -4  20
13                 14UNICuricó Unido  18   6  1  11  20  30 -10  19
14                      15COPCopiapó  17   4  4   9  14  29 -15  16
15                   16MAGMagallanes  18   3  4  11  18  29 -11  13

In [35]:
df=df.rename(columns={0:'EQUIPO',1:'J', 2:'G', 3:'E', 4:'P', 5:'GF', 6:'GC', 7:'DIF', 8:'PTS'})
df['EQUIPO']=df['EQUIPO'].apply(lambda x: x[5:] if x[:2].isnumeric()==True else x[4:])
df['LIGA'] = df_ligas['LIGA'][0]

In [36]:
df

                          EQUIPO   J   G  E   P  GF  GC  DIF  PTS   LIGA
0                       Cobresal  19  10  6   3  35  17   18   36  CHILE
1                     Huachipato  19  10  2   7  28  21    7   32  CHILE
2                 Unión Española  19   8  6   5  25  14   11   30  CHILE
3                      Colo Colo  18   8  6   4  25  19    6   30  CHILE
4   de ChileUniversidad de Chile  18   8  5   5  20  18    2   29  CHILE
5                 Coquimbo Unido  18   9  2   7  23  22    1   29  CHILE
6                     Everton CD  18   8  4   6  26  25    1   28  CHILE
7          CUniversidad Católica  19   7  6   6  32  27    5   27  CHILE
8                     EPalestino  18   7  5   6  26  28   -2   26  CHILE
9                Unión La Calera  18   5  9   4  23  23    0   24  CHILE
10                      Ñublense  19   6  5   8  20  26   -6   23  CHILE
11                Audax Italiano  19   6  4   9  25  28   -3   22  CHILE
12                     O'Higgins  19   5  5   9  20  24   -4   20  CHILE
13                  Curicó Unido  18   6  1  11  20  30  -10   19  CHILE
14                       Copiapó  17   4  4   9  14  29  -15   16  CHILE
15                    Magallanes  18   3  4  11  18  29  -11   13  CHILE

In [37]:
df_ligas.to_csv('df_ligas.csv',index=False)

In [38]:
def id_generator(team):

    return str(uuid.uuid1())[:8]

In [39]:
equipos = df['EQUIPO'].unique()
lista_resultado = list(map(id_generator, equipos))

In [40]:
team_table = {

    'EQUIPO':equipos,
    'ID_TEAM':lista_resultado
}

df_team = pd.DataFrame(team_table)

In [41]:
df_team['ID_TEAM'].value_counts()

b61f005d    1
b6249446    1
b6249507    1
b624954f    1
b624958c    1
b62495c7    1
b62495ff    1
b6249638    1
b6249671    1
b62496ae    1
b62496e7    1
b624971e    1
b6249757    1
b624978b    1
b62497c3    1
b62497f9    1
Name: ID_TEAM, dtype: int64

In [42]:
df_team.to_csv('team_table.csv',index=False)

In [43]:
pd.read_csv('df_ligas.csv')

         LIGA                                                URL
0       CHILE  https://www.espn.com.co/futbol/posiciones/_/li...
1      ESPAÑA  https://www.espn.com.co/futbol/posiciones/_/li...
2  INGLATERRA  https://www.espn.com.co/futbol/posiciones/_/li...
3      ITALIA  https://www.espn.com.co/futbol/posiciones/_/li...
4     GERMANY  https://www.espn.com.co/futbol/posiciones/_/li...
5     FRANCIA  https://www.espn.com.co/futbol/posiciones/_/li...
6    PORTUGAL  https://www.espn.com.co/futbol/posiciones/_/li...
7     HOLANDA  https://www.espn.com.co/futbol/posiciones/_/li...

In [45]:
df_final = pd.merge(df,df_team,how='inner',on='EQUIPO')
df_final.columns
df_final = df_final[['ID_TEAM','EQUIPO', 'J', 'G', 'E', 'P', 'GF', 'GC', 'DIF', 'PTS', 'LIGA']]
df_final

,ID_TEAM,EQUIPO,J,G,E,P,GF,GC,DIF,PTS,LIGA
0,b61f005d,Cobresal,19,10,6,3,35,17,18,36,CHILE
1,b6249446,Huachipato,19,10,2,7,28,21,7,32,CHILE
2,b6249507,Unión Española,19,8,6,5,25,14,11,30,CHILE
3,b624954f,Colo Colo,18,8,6,4,25,19,6,30,CHILE
4,b624958c,de ChileUniversidad de Chile,18,8,5,5,20,18,2,29,CHILE
5,b62495c7,Coquimbo Unido,18,9,2,7,23,22,1,29,CHILE
6,b62495ff,Everton CD,18,8,4,6,26,25,1,28,CHILE
7,b6249638,CUniversidad Católica,19,7,6,6,32,27,5,27,CHILE
8,b6249671,EPalestino,18,7,5,6,26,28,-2,26,CHILE
9,b62496ae,Unión La Calera,18,5,9,4,23,23,0,24,CHILE
10,b62496e7,Ñublense,19,6,5,8,20,26,-6,23,CHILE
11,b624971e,Audax Italiano,19,6,4,9,25,28,-3,22,CHILE
12,b6249757,O'Higgins,19,5,5,9,20,24,-4,20,CHILE
13,b624978b,Curicó Unido,18,6,1,11,20,30,-10,19,CHILE
14,b62497c3,Copiapó,17,4,4,9,14,29,-15,16,CHILE
15,b62497f9,Magallanes,18,3,4,11,18,29,-11,13,CHILE

In [ ]:
df_final.to_csv('premier_positions.csv',index=False)

In [ ]:
lista_resultado[0]

In [ ]:
hash('hola')